body{
    background-color:antiquewhite;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}
.main{
    background-color:burlywood;
    border-radius: 15px;
    text-align: center;
    width: 500px;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 55%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
button{
    padding: 3px;
    margin-bottom: 5px;
    cursor:pointer;
    background-color:bisque;
    width: 15%;
}

/* 
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
*/